.dropdown-select__industries {
  position: relative;
  width: 100%;
}

.dropdown-select__industries .dropdown-select__input {
  margin-top: 32px;
  padding-right: 32px;
}

.dropdown-select__btn {
  background: transparent;
  border: none;
  bottom: 4px;
  cursor: pointer;
  position: absolute;
  right: 2px;
  transform: rotate(-90deg);
  transition: transform 0.5s;
}

.dropdown-select__btn.close {
  transform: rotate(90deg);
}

/***** dropdown-select__options *****/

.dropdown-select__options {
  left: -10px;
  max-height: 0;
  overflow-y: scroll;
  padding: 0 1rem;
  position: absolute;
  transition: max-height 0.2s;
  width: calc(100% + 2rem);
  z-index: 1;
}

.dropdown-select__options::-webkit-scrollbar {
  display: none;
}

.dropdown-select__options.show {
  border-bottom: thin dashed var(--btn-text-color);
  max-height: 43.5vh;
}

/***** media-queries *****/

@media screen and (max-width: 660px) {
  .dropdown-select__options.show {
    max-height: 42vh;
  }
}

@media screen and (max-width: 599px) {
  .dropdown-select__options {
    left: -8px;
  }

  .dropdown-select__options.show {
    max-height: 47.5vh;
  }
}

@media screen and (max-width: 475px) {
  .dropdown-select__options.show {
    max-height: 46vh;
  }
}

@media screen and (max-width: 395px) {
  .dropdown-select__options.show {
    max-height: 43.5vh;
  }
}
